extends ../layout

block content

  h1 Your Profile

  form(action='/profile' method='post')
    p
      label(for='coursesearch') Search for a Course:
      input(type='text' id='coursesearch' name='coursesearch' placeholder='search')
    p
      input(type='submit')

  if updatePage

    table
        thead
          tr
            th Name
            th Location
            th Hole Count
            th Year Established
        tbody
          for course in courseSearch
            tr
              td
                a(href='/courses/' + course._id)= course.name
              td= course.location
              td= course.holecount
              td= course.yearEst

  a(href='/courses') List of All Courses