extends layout

block content
    .container
      if (!user)
        p.well Welcome to #{title} -- Click #[a(href="/profile/register") Here] to Register
        p
        .main
          section.homeleft
            a(href='http://www.pdga.com/' target='_blank')
              img(src='/images/dgclogo.jpg')

          section.homeright
            a(href='http://www.discgolfstats.com/' target="_blank")
              img(src='/images/complicated.jpg')
      if (user)
        .main
          section.homeleft
            a(href='http://www.pdga.com/' target='_blank')
              img(src='/images/dgclogo.jpg')

          section.homeright
            a(href='http://www.discgolfstats.com/' target="_blank")
              img(src='/images/complicated.jpg')