doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
