body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

table, tr, td, th {
  padding: 5px;
}

form {
  display: block;
}